@import 'src/styles.scss';

.dropdown-slider {
    &__value {
        text-align: center;
        padding: 10px 0 4px;
    }

    &__buttons {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
    }
}

@include md {
    .dropdown-slider {
        &__open-button {
            width: 100%;
        }
    }
}
