<div class="apartment-list-filter">

    <form [formGroup]="filterForm">

        <app-dropdown-slider #price formControlName="price" label="Price" [min]="1" [max]="10000">
            <div class="button">
                {{ price.low | currency: 'USD' }} - {{ price.high | currency: 'USD' }}
            </div>
            <div class="inside">
                {{ price.low | currency: 'USD' }} - {{ price.high | currency: 'USD' }}
            </div>
        </app-dropdown-slider>

        <app-dropdown-slider #areaSize formControlName="areaSize" label="Size" [min]="1" [max]="500">
            <div class="button">
                {{ areaSize.low }}m<sup>2</sup> - {{ areaSize.high }}m<sup>2</sup>
            </div>
            <div class="inside">
                {{ areaSize.low }}m<sup>2</sup> - {{ areaSize.high }}m<sup>2</sup>
            </div>
        </app-dropdown-slider>

        <app-dropdown-slider #roomsCount formControlName="roomsCount" label="Rooms" [min]="1" [max]="20">
            <div class="button">
                {{ roomsCount.low }} - {{ roomsCount.high }} rooms
            </div>
            <div class="inside">
                {{ roomsCount.low }} - {{ roomsCount.high }} rooms
            </div>
        </app-dropdown-slider>

        <mat-form-field *ngIf="showStates">
            <mat-label>State</mat-label>

            <mat-select formControlName="state">
                <mat-option *ngFor="let state of ApartmentStateFilter | keyvalue" [value]="state.value">
                    {{ state.key }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>

</div>
