@import "src/styles.scss";

.mat-table {
    width: 100%;

    .actions-cell {
        text-align: right;
    }
}

@include md {
    .mat-table {
        .mat-column-role {
            display: none;
        }
    }
}
